/* Global element */
html {
    scroll-behavior: smooth;
}
:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --section-padding:60px;
    --section-background:#f6f6f6;
    --main-duration:0.3s
}

.special-heading{
    text-align: center;
    opacity: 0.2;
    font-size: 89px;
    font-weight: 800;
    margin: 0;
    letter-spacing: -4px;
}
.special-heading + p{
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #979797;
}
@media (max-width: 360px) and (max-width: 767px){
    .special-heading {
        width: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
@media (max-width: 359px){
    .special-heading {
        width: 40px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* end Global */
*{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}
/*End global rules*/
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small*/

@media (max-width: 360px) and (min-width: 768px){
    .container {
        width: 750px;
    }
}
/* Medium*/
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

/*Header*/
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .link {
   position: relative; 
}

.header .link:hover .icon span:nth-child(2){
 width:100%
 
}


.header .link .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .link .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .link .icon span:first-child{
    width: 100%;
}
.header .link .icon span:nth-child(2){
    width: 60%;
    transition: var(--main-duration);
}
.header .link .icon span:last-child{
        width: 100%;
}
.header .link ul{
    position: absolute;
    list-style: none;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    right: 0;
    top: calc(100% + 15px);
    min-width: 200px;
    display: none;
    z-index: 1;
}
.header .link ul::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent whitesmoke transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .link:hover ul{
    display:block ;
}
.header .link ul li a{
    color: #333;
    display: block;
    text-decoration: none;
    padding: 15px;
    transition: var(--main-duration);
}
.header .link ul li a:hover{
 padding-left: 25px;
}
.header .link ul li:not(:last-child){
    border-bottom: 2px solid #ddd;
}

/* Start landing */
.landing {
    background-image: url(../images/3899617.webp\ -\ Shortcut.lnk);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    max-width: 100%;
    width: 320px;
}
.landing .intro-text h1{
    color:var(--main-color) ;
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
/* start feature */
.feature {
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.feature .container {
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
 gap: 20px;
}
.feature .feat{
    padding: 20px;
    text-align: center;
}
.feature .feat i{
 color: var(--main-color);
}
.feature .feat h3 {
    font-weight: 800px;
    margin: 30px 0;
}
.feature .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
} 
/* start services */
.services {
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    margin-top: 100px;
}

.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px){
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex: 1;
}
.services .services-content .srv .text h3{
    margin: 0 0 20px;
}
.services .services-content .srv .text p{
    color-interpolation-filters: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .image{
    position: relative;
    text-align: center;
}
.services .services-content .image img {
    height: 340px;
    width: 230px;
}
.services .services-content .image::before {
    content: '';
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px );
    top:-50px;
    right: 0;
    position: absolute;
    z-index: -1;
}
@media (max-width:1199px){
    .image-coloum{
        display: none;
    }
}
/* End services */
/* start protfolio */
.protfolio {
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:var(--section-background);
}
.protfolio .protfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    margin-top: 80px;
}
.protfolio .protfolio-content .card{
background-color: white;
}
.protfolio .protfolio-content .card img{
    max-width: 100%;
}
.protfolio .protfolio-content .card .info{
    padding: 20px;
}
.protfolio .protfolio-content .card h3{
    margin: 0;
}
.protfolio .protfolio-content .card p{
    color: #777;
    line-height: 1.6;
    margin: 0;
}
/* end protfolio */

/* Start About */
.About {
    padding-top:var(--section-padding);
    padding-bottom:calc(var(--section-padding) + 60px);
}
.About .About-content {
    margin-top: 100px;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px)
{
    .About .About-content{
        flex-direction: column;
        text-align: center;
    }
}
.About .About-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}
.About .About-content .image img{
    max-width: 100%;
}
@media (max-width: 991px){
    .About .About-content .image{
        margin: 0 auto 60px ;

    }
}
.About .About-content .image::before{
    content: "";
    position: absolute;
    background-color:#ebeced ;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.About .About-content .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right: -150px;
    top: -40px;
    z-index: -1;
}
@media (max-width: 991px)
{
    .About .About-content .image::before,
    .About .About-content .image::after{
        display: none;
    }
}
.About .About-content .text{
   flex-basis: calc(100% - 500px); 
}
.About .About-content .text p:first-of-type{
font-weight: bold ;
line-height: 2;
margin-bottom:50px ;
}
.About .About-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.About .About-content .text p:last-of-type{
 line-height: 2;
 color: #777;   
}

/* end About */

/* start contact */
.contact {
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:var(--section-background);
}
.contact .info {
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .lable{
font-size: 35px;
font-weight: 800;
color: var(--secondary-color);
letter-spacing: -2px;
margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 32px;
    font-weight: 800;
    text-decoration: none;
    color: var(--main-color);
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i{
    color: var(--secondary-color);
    margin-left: 10px;
}
@media (max-width: 767px)
{
    .lable,
    .link {
        font-size:25px ;
    }

}
/* end contact */
/* start footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}







































































